@model IEnumerable<DigiGymWebApp_HDip.Models.WeightEntry>
@using System.Text.Json

@{
    ViewData["Title"] = "Chart";
}

<div class="pre-footer">
    <h2>Weight Chart</h2>
    <canvas id="weightChart" width="400" height="200"></canvas>

    <!-- Hidden elements to hold the JSON data -->
    <div id="weightData" style="display: none;">@Html.Raw(JsonSerializer.Serialize(Model.Select(x => x.Weight)))</div>
    <div id="dateData" style="display: none;">@Html.Raw(JsonSerializer.Serialize(Model.Select(x => x.Timestamp.ToString("yyyy-MM-dd"))))</div>
</div>
