@model IEnumerable<DigiGymWebApp_HDip.Models.WeightEntry>
@using System.Text.Json

@{
    ViewData["Title"] = "Chart";
}

<div class="container">
    <div class="row">
        <div class="pre-footer chart-container">
            <h2 class="text-center mt-3">Weight Chart</h2>
            <p class="text-center dashed pb-3">
                See how your weight progresses over time.
            </p>
            <div class="weightChartContainerMain">
                <canvas id="weightChart"></canvas>
            </div>

            <!-- Hidden elements to hold the JSON data -->
            <div id="weightData" style="display: none;">@Html.Raw(JsonSerializer.Serialize(Model.Select(x => x.Weight)))</div>
            <div id="dateData" style="display: none;">@Html.Raw(JsonSerializer.Serialize(Model.Select(x => x.Timestamp.ToString("yyyy-MM-dd"))))</div>

            <div class="text-center pt-4">
                <a asp-controller="Weight" asp-action="WeightEntries">Back to Weight Entries >></a>
            </div>
        </div>
    </div>
</div>