@model DigiGymWebApp_HDip.Models.WeightEntry

@{
    ViewData["Title"] = "Confirm";
}

<div class="container">
    <div class="row">

        <h1 class="text-center dashed py-3">Confirmation</h1>

        <div class="text-center">
            <dl class="row">
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Weight)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Timestamp)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Timestamp)
                </dd>
            </dl>
            <div class="text-center">
                <a asp-action="Edit" asp-route-id="@Model?.WeightID">Edit</a> |
                <a asp-action="WeightEntries">All Weights </a> |
                <a asp-controller="Client" asp-action="Profile">Back to Profile </a> |
            </div>
            <div class="text-center">
                <a asp-action="Chart">See Progress chart</a>
            </div>
        </div>

    </div>
</div>