@using Microsoft.AspNetCore.Identity;
@{
    string userRole = "Guest"; 

    if (User.IsInRole("Admin"))
    {
        userRole = "Admin";
    }
    else if (User.IsInRole("Trainer"))
    {
        userRole = "Trainer";
    }
    else if (User.IsInRole("Client"))
    {
        userRole = "Client";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DigiGymWebApp_HDip</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap /dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DigiGymWebApp_HDip.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DigiGym</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between mx-4">
                    <ul class="navbar-nav flex-grow-1">

                        @if (userRole == "Trainer")
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Trainer Zone
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Trainer" asp-action="Requests">Message Requests</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Message" asp-action="Messages">My Replies</a>

                               
                            </div>
                        </li>
                        }
                        else if (userRole == "Client")
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Client Zone
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Profile">Profile</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Food" asp-action="FoodDiary">Food</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Workout" asp-action="Workouts">Workouts</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Weight" asp-action="WeightEntries">Weight</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Water" asp-action="WaterEntries">Water</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Message" asp-action="Messages">Messages</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Weight" asp-action="Chart">Weight Chart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Water" asp-action="Chart">Daily Water Chart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Food" asp-action="FoodDiary">Daily Food Chart</a>
                        </li>
                        }
                        else if (userRole == "Admin")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin Center
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Admins">Admins List</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Trainers">Trainers List</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Clients">Clients List</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Users">All Users List</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="PendingApproval">Pending Approval</a>
                                </div>
                            </li>
                        }
                        else
                        {

                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
        </nav>
    </header>
        <main role="main">
            @RenderBody()
        </main>
    <footer class="border-top footer">
        <div class="container text-light">
            &copy; 2024 - DigiGym
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* needed for mobile hamburger *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-b9j6l/1G3Y6FLU4PZ6cZLRGnb8wO2Hl6HjzO2xj6w6W2nHbG1I6O4W3e1pH0WZtx" crossorigin="anonymous"></script>
    <script src="~/js/chart.js" asp-append-version="true"></script>
    <script src="~/js/pie.js" asp-append-version="true"></script>
    <script src="~/js/water.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
