@model DigiGymWebApp_HDip.Models.Water

@{
    ViewData["Title"] = "Details";
}

<div class="container text-center">
    <div class="row">
        <h1 class="dashed py-3 text-center">Details</h1>

        <div>
            <dl class="row text-center">
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-6 text-lg-end">
                    @Html.DisplayNameFor(model => model.Timestamp)
                </dt>
                <dd class="col-sm-6 text-lg-start">
                    @Html.DisplayFor(model => model.Timestamp)
                </dd>
            </dl>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.WaterID">Edit</a> |
                <a asp-action="WaterEntries">Back to List</a>
            </div>
        </div>
    </div>
</div>