@model DigiGymWebApp_HDip.Models.Water

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row pre-footer text-center">
        <h1 class="dashed py-3">Edit Water Intake</h1>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="WaterID" />
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group pt-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
                <div class="py-3">
                    <a asp-action="WaterEntries">Back to List</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>



    </div>
</div>