@model List<ApplicationUser>

<div class="container">
    <div class="row pre-footer">
        <h1 class="dashed text-center py-3">Client List</h1>

        @{
            bool clients = Model.Any(c => c.UserType == UserTypes.Client);
        }

        @if (clients)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.CreatedAt.ToString("yyyy-MM-dd")</td>
                            <td><a asp-action="ManageUser" asp-route-id="@user.Id">Manage</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Clients.</p>
        }

    </div>
</div>