@model List<ApplicationUser>

<div class="container">
    <div class="row pre-footer">

        <h1 class="dashed text-center py-3">Trainer List</h1>

        @{
            bool approvedTrainers = Model.Any(u => u.ApprovalStatus == ApprovalStatuses.Approved && u.UserType == UserTypes.Trainer);
        }

        @if (approvedTrainers)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Approved?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.ApprovalStatus</td>
                            <td><a asp-action="ManageUser" asp-route-id="@user.Id">Manage</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-center">No Approved Trainers.</p>
        }

    </div>
</div>