@model List<ApplicationUser>

<div class="container">
    <div class="row pre-footer">
        <h1 class="dashed py-3 text-center">User List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>User Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.UserType</td>
                        <td><a asp-action="ManageUser" asp-route-id="@user.Id">Manage</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>