@model DigiGymWebApp_HDip.Models.UserProfile

@{
    ViewData["Title"] = "Confirm";
}

<div class="container">
    <div class="row">

    <h1 class="dashed py-3 text-center">Confirmation</h1>

    <div>
        <dl class="row">
                <dt class="col-sm-6 text-lg-end">
                @Html.DisplayNameFor(model => model.Height)
            </dt>
                <dd class="col-sm-6 text-lg-start">
                @Html.DisplayFor(model => model.Height)
            </dd>
                <dt class="col-sm-6 text-lg-end">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
                <dd class="col-sm-6 text-lg-start">
                @Html.DisplayFor(model => model.Gender)
            </dd>
        </dl>
        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model?.ProfileID">Edit</a> |
            <a asp-action="Profile">Back to Profile</a>
        </div>
    </div>
</div>