.navbar-brand {
    padding-left: 20px;
}

footer,
nav {
    background: #345760;
}

.card:hover {
    border: 2px solid #ffffff;
}

.card-header {
    border-bottom: white 2px solid;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container {
    align-content: center;
}

.pre-footer {
    margin-bottom: 100px;
}

.stats-box {
    border-top: dashed #345760 2px;
    padding-top: 20px;
    padding-right: 60px;
}

.dashed {
    border-bottom: dashed #345760 2px;
}

.img-effects {
    margin-bottom: 5px;
    border-radius: 50%;
    border: dashed rgb(182, 244, 146) 2px;
    filter: grayscale(55%);
}

.main-image {
    background-image: url('/images/pexels-main.jpg');
    background-color: #cccccc;
    width: auto;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin-top: 100px;
}

.intro-col {
    background-color: black;
    opacity: 0.8; 
    padding: 0px 10px 10px 10px;
}


.card-holder {
    padding-bottom: 100px;
}

a.nav-link:hover {
    background: #0fc9e7;
}

a.btn.btn-primary {
    background: #345760;
    color: white;
    margin: 5px;
}

    a.btn.btn-primary:hover {
        color: black;
    }

li {
    list-style-type:none;
}

.form-control {
    text-align: center;

}

.control-label {
    color: #345760;
    font-weight: 800;
    margin-top: 5px;
}

table {
    text-align: center;
}

.mealtime-color {
    background-color: #7fbe9f;
}

.btn.btn-primary {
    background-color: #345760;
}

    .btn.btn-primary:hover {
        background-color: #0fc9e7;
        border: #0fc9e7
    }

.message-left {
    text-align: left;
    max-width: 60%;
    margin-right: auto;
}

.message-right {
    text-align: right;
    max-width: 60%;
    margin-left: auto;
}

.bg-darker {
    background-color: #548c9b;
    color: black;
    border-radius: 15px;
}

.bg-lighter {
    background-color: #dce9ec;
    color: black;
    border-radius: 15px;
}

.message-left .bg-lighter {
    border-top-left-radius: 0;
}

.message-right .bg-darker {
    border-top-right-radius: 0;
}

.p-3 {
    padding: 15px;
}

.mb-3 {
    margin-bottom: 15px;
}

.message-container {
    display: inline-block;
    max-width: 80%; 
    min-width: 100px; 
    padding: 15px;
    border-radius: 15px;
    word-wrap: break-word; 
}

/* Make the canvas responsive */
#macroPie,
#waterChart,
#weightChart {
    width: 100% !important; 
    height: auto !important; 
}

/*Food Details*/
.foodChartContainer {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*Water Chart page*/
.waterChartContainer {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*Weight Chart page*/
.weightChartContainerMain {
    width: 50%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.badge-colour {
    background-color: #345760;
    color: white;
    padding: 0.2em 0.6em;
    border-radius: 0.25em;
}

.table-warning {
    background-color: #057780;
}

.readMessage {
    font-style: italic;
    color: grey;
    font-size: 0.8em;
}