/*
COLOURS
#fcfcfc;
#0fc9e7;
#3186b2;
#4756ca;
*/

.navbar-brand {
    padding-left: 20px;
}

/* https://gradients.shecodes.io/gradients/3 */
footer,
nav {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    color: black;
}


.card:hover {
    border: 2px solid #ffffff;
}

.card-header {
    border-bottom: white 2px solid;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container {
    align-content: center;
}

.pre-footer {
    margin-bottom: 100px;
}

.stats-box {
    border-top: dashed rgb(182, 244, 146) 2px;
    /*padding: 20px 40px 20px 40px;*/
    padding-top: 20px;
    padding-right: 60px;
}


.food-stats-box {
    border-bottom: dashed rgb(182, 244, 146) 2px;
}

.img-effects {
    margin-bottom: 5px;
    border-radius: 50%;
    border: dashed rgb(182, 244, 146) 2px;
    filter: grayscale(55%);
}

.main-image {
    background-image: url('/images/pexels-main.jpg');
    background-color: #cccccc;
    width: auto;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin-top: 100px;
}

.intro-col {
    background-color: black;
    opacity: 0.8; 
    padding: 0px 10px 10px 10px;
}

