@model IEnumerable<DateTime>

@{
    ViewBag.Title = "Food Diary";
}

<div class="container">
    <div class="row">
        <h2 class="text-center dashed py-3">Food Diary</h2>

        <p class="text-center">
            <a asp-action="Create">Create New</a>
        </p>

        <ul class="text-center">
            @foreach (var date in Model)
            {
                <li>
                    <a href="@Url.Action("Dates", new { date = date.ToString("yyyy-MM-dd") })">
                        @date.ToString("d")
                    </a>
                </li>
            }
        </ul>
    </div>
</div>