@{
    ViewData["Title"] = "Home Page";
}

    <div class="row text-center pre-footer">
        <h1 class="display-4 mb-4">DigiGym</h1>
        <h2 class="pt-2">The Online Gym for Introverts</h2>
        <p class="px-5">Di-ja-gym today? Sign up to our digital gym to log your workouts, keep a food diary and measure your health. You are in control of your destiny. If you lose motivation, you can seek out our trainers for motivational assistance.</p>
    
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card border-dark mb-3">
                    <div class="card-header"><i class="fa fa-solid fa-user fa-lg"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">User Accounts</h5>
                        <p class="card-text">Log in and track your fitness and health goals at the click of a button.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card border-dark mb-3">
                    <div class="card-header"><i class="fa fa-comments-o fa-lg"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">Trainer Feedback</h5>
                        <p class="card-text">Get access to a team of trainers who can help you navigate your fitness and health journey.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card border-dark mb-3">
                    <div class="card-header"><i class="fa fa-line-chart fa-lg"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">Metrics</h5>
                        <p class="card-text">Track your exercises and visualise your performance in beautiful charts and graphs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
