@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DigiGym</h1>
    <h2>The Online Gym for Introverts</h2>
    <p>Sign up today to log your workouts, keep a food diary and measure your health. You are in control of your destiny. If you lose motivation, you can seek out our trainers for motivational assistance.</p>
</div>
