@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row text-light text-center main-image">
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="intro-col">
                <h1 class="display-4 mb-4 title">DigiGym</h1>
                <h2 class="pt-2">The Online Gym for Introverts</h2>
                <p class="px-5">Di-ja-gym today? Sign up to our digital gym to log your workouts, keep a food diary and measure your health. You are in control of your destiny. If you lose motivation, you can seek out our trainers for motivational assistance.</p>
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-3"></div>
    </div>


    <div class="row text-center px-5 card-holder">
        <h1 class="display-4 my-4 title text-black">Offerings</h1>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="card mb-3 text-light bg-dark">
                <div class="card-header" style="border-bottom: grey 1px solid"><i class="fa fa-solid fa-user fa-lg"></i></div>
                    <div class="card-body">
                        <h5 class="card-title">User Accounts</h5>
                        <p class="card-text">Log in and track your fitness and health goals at the click of a button.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="card mb-3 text-light bg-dark">
                <div class="card-header" style="border-bottom: grey 1px solid"><i class="fa fa-comments-o fa-lg"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Trainer Feedback</h5>
                    <p class="card-text">Get access to a team of trainers who can help you navigate your fitness and health journey.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="card mb-3 text-light bg-dark">
                <div class="card-header" style="border-bottom: grey 1px solid"><i class="fa fa-line-chart fa-lg"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Metrics</h5>
                    <p class="card-text">Track your exercises and visualise your performance in beautiful charts and graphs.</p>
                </div>
            </div>
        </div>
    </div>
</div>
